# Needed for ts build folder to have
# access to rescript node_modules
# This is only for wallaby.js as well as "dependencies": {
#     "ava": "5.2.0"
#   }
# in the root package.json
shamefully-hoist=true
# Needed so users can run `pnpm install` in the root of the repo without requiring the `-w` flag.
ignore-workspace-root-check=true
